* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

.flex-container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    border: 5px solid blue;
    cursor: pointer;
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.active-item {
    border: 5px solid gold;
}

.flex-item img {
    height: 100px;
    width: 100px;
} 

.btn {
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    background-color: blue;
    color: #fff;
    margin: 50px auto;
    cursor: pointer;
}